# macOS
.DS_Store

# Xcode
DerivedData/
build/
Build/
*.xccheckout
*.xcscmblueprint
*.xcuserstate

# Xcode user data
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/

# SwiftPM
.build/
.swiftpm/xcode/SharedData/WorkspaceSettings.xcsettings

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Archives & symbols
*.ipa
*.dSYM.zip
*.dSYM

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
*.orig
*.rej
